@charset "utf-8";



/* for pc (-sm) */
@media all and (min-width:576px) {
	.keyboard-container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
		align-items: stretch;
	}
	.keyboard-header{
		text-align: center;
		flex: 0 0 80px;
		/* width:40px; */
	}
	.keyboard{
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		flex-direction: row-reverse;
	}
	.kb-octave{
		width:50%;
		height:25%;
	}
}
@media all and (min-width:1200px) and (orientation:landscape) {
	.keyboard{
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		flex-direction: row-reverse;
	}
	.kb-octave{
		width:25%;
		height:50%;
	}
}
/* for mobile (-xs) */
@media all and (max-width:575px) and (orientation:portrait) {
	.keyboard-container{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: stretch;
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.keyboard-header{
		text-align: center;
		flex: 0 0 40px;
		height:40px;
	}
	.keyboard-header > form{
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	
	.btn-parwnt-width.btn ,
	.btn-parwnt-width.form-control{
		width:40px;
	}
	.keyboard{
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		flex-direction: row-reverse;
	}
	.kb-octave{
		width:100%;
		height:12.5%;
	}

}
/* for mobile (-xs) */
@media all and (max-height:575px) and (orientation:landscape) {
	.keyboard-container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.keyboard-header{
		text-align: center;
		flex: 0 0 80px;
		/* width:40px; */
	}
	.keyboard{
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		flex-direction: row-reverse;
	}
	.kb-octave{
		width:50%;
		height:25%;
	}

}

