@charset "utf-8";
/* prevent pull-down-to-refresh of mobile chrome */
html,
body {
	overscroll-behavior-y: contain;
	touch-action:none
}

.keyboard-container{
	position: fixed;
	left: 0;top:0;right:0;bottom: 0;
}

/* .keyboard{
	
} */
.btn-startAudio[data-on="0"]::before{
	content: "off";
}
.btn-startAudio[data-on="1"]::before{
	content: "on";
}
.btn-startAudio[data-on="1"]{
	background-color: coral;
	border-color: chocolate;
}
.btn-parwnt-width{
	width:90%;
	margin:2px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.btn.btn-parwnt-width{
	padding-left:2px;
	padding-right:2px;
}


.kb-octave{
	margin:0px 0px;
	padding: 0px;
	position: relative;
}
/* .kb-octave::after{
	content:attr(data-tone);
	position: absolute;
	left:0; top:0;
} */

.kb-octave-normal ,
.kb-octave-half{
	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height:100%;
	pointer-events: none;
}
.kb-octave-half{
	position: absolute;
	z-index: 1;
	top:0;left:0;right:0;
	bottom: 50%;
  	height: auto;;
}



.kb-key{
	border: 1px solid #ccc;
	flex: 1 0 auto;
	text-align: center;
	height:100%;
	pointer-events: all;
	/* touch-action: none;  */
}
.kb-octave-normal  .kb-key[data-key="C"]::before{
	/* content: attr(data-key)attr(data-half)attr(data-tone); */
	content: attr(data-note);
}
.kb-key::before{
	content: attr(data-key)attr(data-half);
	/* content: attr(data-note); */
}

.kb-octave-normal .kb-pos{
	flex: 2 0 auto;
	height:100%;
	pointer-events: none;
}
.kb-octave-half .kb-pos{
	flex: 2 0 0;
	height:100%;
	pointer-events: none;
}

.kb-pos.f2{
	flex: 2 0 0 !important;
}
.kb-pos.f1{
	flex: 1 0 0 !important;
}
.kb-pos.hidden{
	visibility: hidden !important;
	pointer-events: none !important;
	height:0px !important;
}
.kb-key{
	word-break: break-all;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	
}
.kb-key[data-half="#"] 
{
	flex: 2 1 0;
	background-color:black;
	color:#fff;
}


.kb-octave-normal .kb-key{
	background-color: #fff;
	color: #000;
	margin:0 auto;
	transition: background-color 0.5s ease;
}
.kb-octave-normal .kb-key.on{
	background-color: #d5ffd5;;
}

.kb-octave-half .kb-key{
	background-color:black;
	color:#fff;
	width:80%;
	margin:0 auto;
	/* border: 3px outset #ccc; */
	border-top-width: 0;
	transition: all 0.5s ease;
}
.kb-octave-half .kb-key.on{
	background-color: #369;
	/* border-style:solid; */
	/* margin: 3px 0 3px 3px; */
}

